* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  background-color: #E3E3E3;
  font-family: 'Ephesis', cursive;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.scores {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-setion {
  height: 80vh;
  display: flex;
  position: relative;
}

.computer-section {
  background-color: #7C6767;
  flex: 1 1 350px;
}

.computer-section h3 {
  padding: 1.5rem;
  color: #FBF7F5;
  font-size: 1.5rem;
}

.computer-section h1 {
  color: #E8DCDC;
  text-align: center;
  font-size: 3rem;
}
.computer-section .description {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #E8DCDC;
}


.player-section {
  flex: 2 2 450px;
  background-color: #fff;
}

.player-section h1{
  text-align: center;
  padding-top: 5rem;
  font-size: 3rem;
  color: #7C6767;
}

.middle-secion {
  background-color: #F1E4E4;
  width: 70%;
  height: 45%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}  

.middle-secion img {
  width: 250px;
  height: 100px;
}


.animate {
  animation: MoveUpDown 0.5s;
  animation-iteration-count: 2;
}
.btns {
  position: absolute;
  top: 12rem;
  left: 45%;
}

.btns .start-btn {
  cursor: pointer;
  padding: 0.3rem 1.5rem;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #7C6767;
  border: 1px solid #7C6767;
  outline: none;
  border-radius: 5px;
}

.btns .start-btn:hover {
  background-color: #7C6767;
  color: #E3E3E3;
  border: 1px solid #E3E3E3;
}

.winner {
  position: absolute;
  top: 5rem;
  left: 45%;
  font-family: monospace;
  font-size: 1.2rem;
  padding: 0.2rem;
  color: red;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
    transform: rotate(20deg);
  }
  50% {
    transform: translateY(-50px);
    transform: rotate(-20deg);
  }
}